

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #edf2f8;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.wrapper {
    max-width: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 10px;
}
.main-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-right: ; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-block {
    padding: 30px;
}
.title {
    font-size: 27px;
    margin-bottom: 20px;
    color: #565656;
}
.subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #858585;
    /* opacity: 70%; */
}
.footer-block {
    display: grid;
    grid-template-columns: 60px 70% 50px;
    gap: 20px;
    align-items: center;
}
.footer-block__ava {
    width: 60px;
    border-radius: 50%;
}
.footer-block__info {
    
}
.footer-block__name {
    font-size: 20px;
}
.footer-block__date {
    font-size: 17px;
}
.footer-block__button {
    
}



.footer-block__button img {
    /* box-sizing: content-box; */
    width: 50px;
    background-color: #edf0f7;
    padding: 10px 10px 13px 13px;
    border-radius: 50%;

}


.footer-block__buttons:hover {
    position: relative;
    cursor: pointer;
    .footer-block__button_hover {
        display: block;
    }
    .footer-block__button_main {
        z-index: -500;
        display: none;
    }

    .popup {
        display: block;
    }
}

.footer-block__button_hover {
    z-index: -500;
    display: none;
}

.footer-block__button_hover img {
    background-color: #6a7f9a;
}


.popup {
    display: none;
    position: absolute;
    top: -90px;
    left: -125px;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.popup__content {
    /* display: none; */
    position: relative;

}

.rectangle {
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    width: 300px;
    background-color: #49556b;
}
.popup__share {
    font-family: Montserrat;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}
.popup__icon {
    width: 30px;
    
}
.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #49556b;
    position: absolute;
    top: 65px;
    left: 135px;
    /* margin-top: 5px; */
}
